manifest {
  description = 'GangSTR tool for profiling long STRs from short reads from gymreklab'
  author = 'Pablo Prieto Barja/Phil Palmer'
}

/*
 * default container
 */
docker.enabled = true

// Global default params, used in configs
params {
  genome = false
  bam = false
  bed= false

  outdir = "results"
  nonuniform = false

  // Params for the Read Group Line to be added just in case its needed.
  rgid=4
  rglb="lib1"
  rgpl="illumina"
  rgpu="unit1"
  rgsm=20
}
